@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* work sans google font  */

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* ? share style css  */
.display-flex {
    display: flex;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.max-width {
    max-width: 1440px;
}

.dark1 {
    color: #131313;
}

.dark2 {
    color: #424242;

}

.dark3 {
    color: #727272;

}

.orang {
    color: #FF900E;
}


/* ? share style end  */
/* TODO: nav-section is start */

.nav-section {
    justify-content: space-between;
    align-items: center;
}

.nav-section,
.banner-section {
    max-width: 1440px;
    /* max-width:min(90%,1440px); */
    margin: 0 auto;
}

.brand {
    font-size: 2.8rem;
    font-weight: 700;
}

/* .ul-link {} */

.list-items {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
}

.list-link {
    text-decoration: none;
}

/* *banner section is start  */
.banner-section {}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-heading {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-info {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.625rem;
    color: #727272;

}

.btn-main {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    margin-top: 30px;
    margin-bottom: 50px;
    cursor: pointer;
}



/* banner img  */
.banner-img img {
    width: 100%;
    margin-bottom: 45px;
}

/* * main-section  */
.section {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;

}

.team-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 85px;
}



.feautures-conainer {

    margin-left: 75px;
    max-width: 540px;
}

#medium {
    font-weight: 500;
}

.features-title {
    font-size: 2.8rem;
    font-weight: bold;

}

.features-description {
    font-size: 1rem;

}

/* injoy section       */

.injoy-h3{
    margin-bottom: 24px;
    border-left:5px solid #FF900E;
    padding-left: 21px;
}
.injoy-p{
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 60px;
}
 /* injoy card  */

 .card-heading{
    font-size:1.25rem;
    font-weight: 600;
    color:#131313;
    
 }
 .card-info{
    font-size: 1rem;
    font-weight: 400px;
    color:#727272;
 }
.card-class{
    margin-top: 159px;
    gap:146px;
}

  .all-card{
    background-color: #ffffff;
    border:none;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
    padding:30px;
    gap:20px;
  }

  .expensive-btn{
    padding:42px 45px;
    background-color: #FF900E;
    border:none;
    border-radius: 8px;
    color:wheat;
    margin-left:-100px;
    margin-top:-100px;
    cursor: pointer;
  }
  .b-10{
    font-size: 6.0625rem;
    font-weight: 700;
    
  }
  .bt-ex{
    font-size: 1.56rem;
    font-weight: 500;
  }

/* Some Facts style  */

.fact-head {
    margin-bottom: 24px;
}

.fact-description {
    width: 540px;
}

.fact-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 180px;
}

.fact-card {
    border: 1px solid #FF900E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 45px 35px 60px 36px;
    /* height:241px;
        width:231px; */
    border-radius: 8px;
   


}


.number {
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    /* padding-bottom: 5px; */
    margin-bottom: 5px;
    margin-top: 9px;
}

.name {
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}

/* sponsor style  */
.sponsor-title{
    text-align: center;

}
.sponsor-head{
    font-size: 2.8rem;
    font-weight: 700;
    color:#131313;
    margin-bottom: 26px;
}
.sponsor-info{
    font-size: 1rem;
    font-weight: 400;
    color:#727272;
}

/* sponsor-img   */

.sponsor-img{
    margin-top:50px;
   display:flex;
   /* justify-content: center ;*/
   
   gap:155px;
   align-items: center;
}
.sponsor-img .spon-img{
    filter:grayscale(100%);
    

}

/* footer section is start */
.footer{
    max-width: 1440px;
    background-color: #FFF4E7;
    padding:40px 0;
    text-align: center;
    margin:0 auto;
    margin-top: 130px;
    margin-bottom: 30px;
}
.footer-p{
    font-size: 1.25rem;
    font-weight: 400;
    color:#424242;
}