@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* work sans google font  */

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* ? share style css  */
.display-flex {
    display: flex;
}

.bg-light {
    background-color:rgba(255, 144, 14, 0.1);
}

.max-width {
    max-width: 1440px;
}

.dark1 {
    color: #131313;
}

.dark2 {
    color: #424242;

}

.dark3 {
    color: #727272;

}
.orang{
    color:#FF900E;
}


/* ? share style end  */
/* TODO: nav-section is start */

.nav-section {
    justify-content: space-between;
     align-items: center;
}
.nav-section, .banner-section{
    max-width: 1440px;
    /* max-width:min(90%,1440px); */
    margin:0 auto;
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}
/* .ul-link {} */

.list-items {
    list-style: none;
    margin-right: 30px;
    font-size: 18px; 
}

.list-link {
    text-decoration: none;
}

/* *banner section is start  */
.banner-section{
    

}
.banner-content{
    max-width: 850px;
    margin:0 auto;
    text-align: center;
}
.banner-heading{
    font-size: 4rem;
    font-weight: 700;
    color:#131313;
}
.banner-info{
    font-size: 1rem;
    font-weight: 400;
    margin-top:1.625rem;
    color:#727272;

}
.btn-main{
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FF900E;
    color:white;
    border:none;
    border-radius: 8px;
    padding:20px 25px;
    margin-top: 30px;
    margin-bottom: 50px;
    cursor: pointer;
}

    

 /* banner img  */
 .banner-img img{
    width:100%;
    margin-bottom: 45px;
 }

  /* * main-section  */
  .section{
    max-width: 1440px;
    margin:0 auto;
        align-items: center;

  }
   .team-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:24px;
    margin-top: 85px;
   }

   

   .feautures-conainer{
    
    margin-left: 75px;
    max-width: 540px;
   }
     #medium{
    font-weight: 500;
   }

   .features-title{
    font-size: 2.8rem;
    font-weight: bold;

   }
   .features-description{
    font-size: 1rem;
    
   }
 